<p>student-details works!</p>

{{ student$ | async | json }}

<mat-card class="example-card" *ngIf="student$ | async; let student">
  <mat-card-header>
    <mat-card-title
      >{{ student.firstName | titlecase }}
      {{ student.lastName | uppercase }}</mat-card-title
    >
    <mat-card-subtitle>{{ student.email | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li><b>Class :</b> {{ student.class }}</li>
      <li><b>Date of birth :</b> {{ student.dateOfBirth }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updateStudent(student)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
