table {
  width: 80%;
  border-collapse: collapse;
  border: 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid;
  text-align: center;
}

th{
    background-color: #673ab7;
    color: white;
    text-align: center;
}