<table mat-table [dataSource]="students$" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let student$"> {{student$.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let student$"> {{student$.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let student$"> {{student$.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef> classe </th>
        <td mat-cell *matCellDef="let student$"> {{student$.class}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let student$">
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-eye"></i></button>
            <button type="button" class="btn btn-warning"><i class="fa-solid fa-user-pen"></i></button>
            <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let student$; columns: displayedColumns;"></tr>
    

    
</table>